@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

%baseParagraph {
  font-size: 18px;
  line-height: 25px;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: $primary;
}

header.topbar {
  nav {
    li {
      a {
        // transition: all 0.4s ease;
        color: $black;
        text-decoration: none;
        border-bottom: 3px solid transparent;

        &:hover {
          color: $primary;
          border-bottom-color: $primary;
        }
      }
    }
  }
}

section {
  article {
    a.cta {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
      color: $primary;
      background: none;
      border: 1px solid $primary;
      padding: 12px 40px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.4s ease;
      text-decoration: none;

      &:hover {
        color: $white;
        background: $primary;
      }
    }
    div {
      header {
        h2 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 90px;
          color: $primary;
        }
      }
      h3 {
        font-size: 30px;
        font-weight: 400;
      }
      p {
        @extend %baseParagraph;
      }
    }
  }
}

#group {
  article {
    div {
      h3 {
        margin-top: 40px;
      }
    }
  }
}

#slider {
  li {
    p {
      @extend %baseParagraph;
      text-align: center;
    }
  }
}

footer {
  h4 {
    font-size: 30px;
    color: $primary;
  }
}