footer {
    padding: 49px var(--side-margin) 65px;
    background-color: var(--background-grey);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        text-align: center;
        
        @media screen and (min-width: $bp-medium) {
            display: initial;
        }
    }
    
    .copyright--notice {
        font-size: var(--footer-text-size);
    }
}
