@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');


body {
  font-family: 'Lato', sans-serif;
  @include regular--font;

  .bold--font {
    @include bold--font;
  }
}

a.link--button {
    font-size: var(--h2-size);
    @include bold--font;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;

    @media screen and (min-width: $bp-medium) {
      padding: 12px 30px;
    }
}

h1 {
  font-size: var(--h1-size);
  @include regular--font;
}

h2 {
  font-size: var(--h2-size);
  @include regular--font;
}

h3 {
  font-size: var(--copy-size);
  @include bold--font;
}
